.dialog {
  display: flex;
  flex-direction:  column;
  align-items: center;
  width:100%;
  height:100vh;
  background-color: #000;
}

.icon {
  border-radius: 50%;
  width:  80px;
  height: 80px;
}

.button {
  font: bold;
  color: #fff;
  border-style: solid;
  border-radius: 10px;
  border-color: #fff;
}

@media only screen and (max-width: 800px) {
  .img {
    width: 250px;
  }
  .text {
    color: #fff;
  }
}

@media only screen and (min-width: 801px) {
  .img {
    width: 650px;
  }
  .text {
    font-size: x-large;
    color: #fff;
  }
}

