<div mat-dialog-content>
  <div>
    ユーザ名
    <input matInput class="right" [(ngModel)]="data.userName">
  </div>
  <div class="dialog">
    性別
    <mat-button-toggle-group class="toggle-button" name="sex" aria-label="sex" [(ngModel)]="data.sex">
      <mat-button-toggle value=1>♂</mat-button-toggle>
      <mat-button-toggle value=2>♀</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="dialog">
    誕生日
    <input matInput class="right" type="date" [(ngModel)]="data.birthday">
  </div>
  <div class="dialog">
    写真
    <input class="right" type="file" accept="image/jpeg, image/png" (change)="selectedFile($event)">
  </div>
  <div class="dialog">
    ひとこと
    <input matInput class="right" [(ngModel)]="data.profile">
  </div>
  <div class="dialog">
    メールアドレス
    <input matInput class="right" [(ngModel)]="data.mailAddress">
  </div>
  <div class="dialog">
    パスワード
    <input matInput class="right" type="password" [(ngModel)]="data.password">
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onSigninButton()">ログイン</button>
  <button mat-button (click)="onOkClick(data)">Ok</button>
</div>
