.toolbar {
  background-color: #fff;
}

.container {
  display: flex;
  /* flex-flow: column nowrap; */
  flex-direction:  column;
  /* justify-content: center; */
  justify-content: space-around;
  align-items: center;
  /* align-content: space-around; */
}

.logo {
  width: 200px;
  height: auto;
}

.authorizeButton {
  background-color: #EB5D6B;
  font-weight: bold;
  color: #fff;
  margin-right: 0;
} 

@media only screen and (max-width: 800px) {
  .text {
    font-weight: 900;
  }
  .img {
    /* display: block; */
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius:20px;
  }
}

@media only screen and (min-width: 801px) {
  .text {
    font-size: xx-large;
    font-weight: 900;
  }
  .img {
    /* display: block; */
    /* width: auto; */
    height: 40vh;
    object-fit: cover;
    border-radius:20px;
  }
}


.like-button {
  width:70px;
}

.nope-button {
  width:70px;
}
