<mat-toolbar color="white">
  <mat-toolbar-row>
    <img class="logo" src="../assets/images/lovereach.png">
    <button class="authorizeButton" mat-button (click)="onAuthorizeButton()" [disabled]="isOnClickButton">ログイン</button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <!-- <div>
    <body>
      <app-menu-bar></app-menu-bar>
    </body>
  </div> -->
 <div class="left-wrap">
    <img class="img" src="../assets/images/sample1.jpg">
    <img class="nope-button" src="../assets/images/nope_button.svg">
    <img class="like-button" src="../assets/images/like_button.svg">
  </div>
  <div class="right-wrap">
    <h1 class="text">
      今すぐ遊びに行きたい人同士が<br>
      すぐ遊びに行けるように<br>
    </h1>
  </div>
</div>
