<form (ngSubmit)="onOkClick(data)" #signinForm="ngForm">
  <div mat-dialog-content>
    <mat-form-field>
      メールアドレス
      <input matInput class="right" name="mailAddress" [(ngModel)]="data.mailAddress" required>
      <mat-error *ngIf="mailAddress?.errors.required">必須項目</mat-error>
    </mat-form-field>
    <mat-form-field>
      パスワード
      <input matInput class="right" name="password" [(ngModel)]="data.password" type="password" required>
      <mat-error *ngIf="password?.errors.required">必須項目</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onSignupButton()">SignUp</button>
    <button mat-button type="submit" (click)="onOkClick(data)" [disabled]="signinForm.invalid">Ok</button>
  </div>
</form>
