<form (ngSubmit)="onOkClick(data)" #signinForm="ngForm">
  <div mat-dialog-content>
    <mat-form-field>
      メールアドレス
      <input matInput class="right" name="mailAddress" [(ngModel)]="data.mailAddress" required
                                    minlength="{{addressMinLength}}" maxlength="{{addressMaxLength}}">
      <mat-error *ngIf="true">*必須(10〜30文字)</mat-error>
    </mat-form-field>
    <mat-form-field>
      パスワード
      <input matInput class="right" name="password" type="password" [(ngModel)]="data.password" required
                                                    no more users
                                                    minlength="{{passwordMinLength}}" maxlength="{{passwordMaxLength}}">
      <mat-error *ngIf="true">*必須(8〜15文字)</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onSignupButton()">SignUp</button>
    <button mat-button type="submit" (click)="onOkClick(data)" [disabled]="signinForm.invalid">Ok</button>
  </div>
</form>
<div *ngIf="isFaildSignin" class="faild-signin">ログインに失敗しました</div>
